# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment
.env
.env.local

# Storage (uploaded images)
server/storage/

# Prisma
server/prisma/migrations/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

.history